external_templates:
  pmm: templates

templates:
  tvdbTemplate:
    optional:
      - network
      - list
      - show
    tvdb_list_details: <<list>>
    tvdb_show: <<show>>
    trakt_list: <<list>>
    trakt_list_details: <<list>>
    sort_title: <<collection_name>>
    sync_mode: sync
    url_poster: <<poster>>

collections:
  "{{ item.title }}":
    template: { name: tvdbTemplate, list: "", show: "", poster: https://theposterdb.com/api/assets/ }
    summary: {{ item.title }}
    # {{ item | generateTpDbUrl }}
    {% if item.childCount != 1 %}# {% endif %}collection_mode: hide
    # trakt_list:
    #  - 
